.titulouau{
    position: absolute;
    margin-left: 110px;
    font-size: 20px; /* Define o tamanho da fonte para tal pixels */
}
.sacoo{
    position: absolute;
    margin-top: 90px;
    width: 340px;
    height: 60px;

}
.aviso{
    position: absolute;
    margin-left: 40px;
    width: 340px;
    margin-top: 300px;
    color: #a135f2;
}
.lindo{
    position: absolute;
    width: 380px;
    height: 200px;
    margin-top: 50px;
    z-index: 2;

}
.secund{
    position: absolute;
    height: 150px;
    width: 420px;
    margin-left: 0px;
    background-color: #f3f3f3;
    z-index: 1;
}
.te1{
    position: absolute;
    font-size: 145%;
    font-weight: 750;
    font-family: Arial, Helvetica, sans-serif;
}
.burguer{
    position: absolute;
    margin-top: 50px;
    font-size: 15px;
}
.caius{
    position: absolute;
    height: 60px;
    margin-left: 270px;
}
.textinn{
    position: absolute;
    margin-top: 400px;
    margin-left: 20px;
    font-weight: 700;
}
.dataa{
    position: absolute;
    margin-top: 430px;
    margin-left: 20px;
    font-weight: 550;
}
.pedidoatrasado{
    position: absolute;
    margin-top: 460px;
    height: 230px;
    width: 380px;
}
.pedidi{
    position: absolute;
    font-size: 15px;
    font-weight: 800;
    margin-left: 70px;
    margin-top: 10px;
}
.caius22{
    position: absolute;
    height: 55px;
    margin-top: -5px;
}