<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="titulouau" size="large">MEUS PEDIDOS</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-card class="lindo">
      <ion-card-content>
        <h2 class="te1">Peça de novo</h2>
        <H4 class="burguer"> The Cheese Burguer Salada</H4>
        <ion-button class="sacoo" >Adicionar a sacola</ion-button>
        <ion-img alt="caius" class="caius" src="../../assets/CAIUSMELHOR (2).png"></ion-img>
      </ion-card-content>
    </ion-card>
    <ion-card class="secund">
      <ion-card-content>
      </ion-card-content>
    </ion-card>

  <ion-button style="background-color: #f7ebff;"  class="aviso">Economiza até R$ 50 aqui</ion-button>


    <h3 class="textinn"> Histórico</h3>
    <h4 class="dataa">Ter. 02 abril 2024</h4>

    <ion-card class="pedidoatrasado">
      <ion-card-content>
        <ion-img alt="ui" class="caius22" src="../../assets/CAIUSMELHOR (2).png"></ion-img>
       <h3 class="pedidi"> Caius Burguer LTDA</h3>
      </ion-card-content>
    </ion-card>

</ion-content>
